baseurl: 
title: Nicola | Blog
subtitle: Collection of essays ideas and life updates.
author: Nicola 
simple_search: http://google.com/search
description: The personal blog of Nicola 
name: nicola
markdown: Kramdown
kramdown:  
  input: GFM
markdown_ext: "markdown,mkdown,mkdn,mkd,md"
highlighter: rouge
permalink: /:title/:year
timezone: America/Boston
excerpt_separator: <!--more-->  # you can specify your own separator, of course.
exclude: ['Gemfile', 'Gemfile.lock', 'Rakefile', 'README.md']
post:
  template: _post.txt
  extension: md
page:
  template: _page.txt
  extension: md
editor: gvim
git:
  branch: master
transfer:
  command: rsync
  settings: -av
  source: _site/
  destination: ~/Git/clayh53.github.com/
category_archive:
  slugify: true
