<!--- Header and nav template site-wide -->
{% if page.layout == "default" %}
<div id="field"></div>
{% endif %}

{% if page.id == "blog" %}
<div id="field"></div>
{% endif %}

<header>
  <nav class="group">
    <a href="{{base }}/blog">Home</a>
    <a href="{{base }}/about">About me</a>
    <a href="{{base }}/art">Art</a>
  </nav>
  <div class="">
    <p><a href="{{base }}/" rel="me">Nicola Greco</a></p>
    <p>I am working to re-decentralize the web{% if page.url != "/index.html" %}<span class="sidenote">Read more about my work <a href="{{ base }}/about">here</a></span>{% endif %}. PhD student at <a href="http://mit.edu">MIT</a> advised by <a href="https://www.w3.org/People/Berners-Lee/">Tim Berners-Lee</a> and friend at <a href="http://berkmancenter.org">Berkman Center</a>. Once an entrepreneur, a <a href="http://ucl.ac.uk">UCL</a> student, a <a href="http://mozilla.org">Mozillian</a>.</p>
  </div>

</header>