---
layout: new
---

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Nicola Greco</title>
  <link rel="stylesheet" type="text/css" href="/assets/css/nicolacard.css">


<meta name="description" content="Nicola is a computer scientist focusing on decentralizing the web.">

  <link rel="me" href="https://twitter.com/nicolagreco" />
  <link rel="me" href="https://github.com/nicola" />
  <link rel="me" href="https://facebook.com/nicolagreco" />
  <meta content="Nicola Greco" property="og:site_name">
  <meta content="Nicola Greco" property="og:title">
  <meta content="article" property="og:type">
  <meta content="Nicola is a computer scientist focusing on decentralizing the web." property="og:description">
  <meta content="/" property="og:url">
  <meta content="http://nicola.io/assets/img/nicola.jpg" property="og:image">
  <link rel="canonical" href="/">
  <link rel="alternate" type="application/rss+xml" title="Nicola Greco | Blog" href="http://nicola.io/feed.xml" />

</head>
<body>
<div id="container">

  <div id="dialog">
    <div id="hey">
      Hey,<br>
      I am Nicola
    </div>
    <div id="i">
      <p id="p1">
      I am a computer scientist and inventor.
      </p>
      <p id="p2" class="small">
      I work at <a href="https://protocol.ai">Protocol Labs</a>.
      I am a PhD student (on leave) at <b>MIT</b> advised by <a href="https://en.wikipedia.org/wiki/Tim_Berners-Lee">Tim Berners-Lee</a>. I was previously at <a href="https://cyber.harvard.edu/">Berkman Center</a>, <a href="https://www.mozilla.org">Mozilla</a> and <a href="http://www.cs.ucl.ac.uk/home/">UCL</a>.
      <!-- <br><br>
      I also write code poetry and futuristic books. -->
      </p>
      <div id="links">
      <a href="http://nicola.io/blog/" id="button">Read my blog &rarr;</a>
      <ul>
        <li><a href="https://twitter.com/nicolagreco">Twitter</a></li>
        <li><a href="https://github.com/nicola">Github</a></li>
        <li><a href="http://nicola.io/about">About</a></li>
      </ul>
      </div>
    </div>
  </div>

</div>

<script type="text/javascript">
  function write (obj, sentence, i, cb) {
    if (i != sentence.length) {
      setTimeout(function () {
        i++
        console.log('in timeout', i)
        obj.innerText = sentence.substr(0,i)
        write(obj, sentence, i, cb)
      }, 50)
    } else {
      console.log(i)
      cb()
    }
  }
  function erase (obj, cb) {
    var sentence = obj.innerText
    if (sentence.length != 0) {
      setTimeout(function () {
        sentence = sentence.substr(0,sentence.length-1)
        console.log('in timeout i')
        obj.innerText = sentence
        erase(obj, cb)
      }, 18/(i*(i/10000000)))
    } else {
      obj.innerText = "  "
      cb()
    }
  }
  var p1 = document.querySelector("#p1")

  function writeerase(obj, sentence, time, cb) {
    write(obj, sentence, 0, function () {
      setTimeout(function () {
        erase(obj, cb)
      }, time)
    })
  }

  var sentences = [
    "I am a computer scientist and inventor.",
    "I work to re-decentralize the web, since 2012.",
    "I research decentralized infrastructures.",
    "I am interested in cryptographic proofs.",
    "I write code poems.",
    "I was a co-author of Filecoin.",
    "I was listed as top 10 young Italians on Wired.",
    "I give talks on blockchain and decentralization.",
    "I worked for an Italian rapper called Nesli.",
    "I started a social media monitoring company at 17.",
    "I am currently writing a futuristic science fiction.",
  ]
  var counter = 0
  function loop () {
    var sentence = sentences[counter % sentences.length]
    writeerase(p1, sentence, 1500, loop)
    counter++
  }

  loop()
  
  // var counter = 0
  // setInterval(function () {
  //   var p1 = document.querySelector("#p1")
  //   var sentence = sentences[counter % sentences.length]


  //   p1.innerText = sentence
  //   counter++
  // }, 1000)
</script>
</body>
</html>